[submodule "submodules/bgfx"]
	path = submodules/bgfx
	url = https://github.com/widberg/bgfx.cmake
[submodule "submodules/glfw"]
	path = submodules/glfw
	url = https://github.com/glfw/glfw
[submodule "submodules/nanoflann"]
	path = submodules/nanoflann
	url = https://github.com/jlblancoc/nanoflann
